* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --tipo-letra: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;;
    --vermelho-escuro: #B60408;
    --vermelho-claro: #DB151A;
    --cinza: #2F3237;
    --cinza-claro: #5E646E;
    --cinza-cinza: #e0dcdc;
    --cinza-medio: #292929;
    --cinza-escuro: #151515;
    --preto: #000000;
    --branco: #FFFFFF;
}

body {
    background-color: var(--cinza-escuro);
    font-family: var(--tipo-letra);
    color: var(--branco);
}

a {
    text-decoration: none;
    color: var(--branco);
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
    display: block;
}


.navbar {
    position: fixed;
    width: 100%;
    height: 60px;
    background-color: var(--cinza-medio);
}

.navbar-fundo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px 40px ;
}

.navbar-logo {
    font-size: larger;
    font-weight: bold;

}

.nav {
    display: flex;
}



.nav-lista {
    /* list-style: none; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    
}

.nav-link {
    /* padding-top: 30px; */
    margin: 30px 30px;
    
}

.nav-btn-src {
    background-color: var(--cinza-escuro);
    border-radius: 5px;
    border: none;
    padding: 10px 10px;
    margin-left: 10px;
}

.nav-btn-sgn {
    background-color: var(--vermelho-claro);
    color: var(--branco);
    /* margin: 10px; */
    padding: 5px 20px;
    border-radius: 5px;
    border: none;
    
}

.cantor {
    background-image: url(../images/coverty1.jpg);
    width: 100%;
    height: 480px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.cantor-cover {
    font-weight: bolder;
    font-size: 25px;
    padding-left: 260px;
    padding-top: 250px;
    
}

.cantor-btn {
    font-weight: bolder;
    font-size: 25px;
    padding-right: 260px;
    padding-top: 250px;
} 

.cantor-btn-shr {
    background-color: var(--cinza-c);
    color: var(--branco);
    border-radius: 50%;
    border: none;
    padding: 20px;
    font-weight: bolder;

}

.album-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.albuns {
    margin: 0 auto;
    max-width: 980px;
    
}

.sec-titulo {
    /* text-align: center; */
    margin: 15px 0;

}

.card-album-img {
    border-radius: 8px;
}

.card-album-body {
    margin-top: 10px;
}


.card-album-title {
    font-size:medium;
}
.card-album-ano {
    color: var(--cinza-cinza);
}